.MenuSocial {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      background: #373737;
      &:not(:last-of-type) {
        border-bottom: 1px solid #dedede;
      }

      a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 0.25rem;

        &:hover {
          text-decoration: underline;
          background: #787878;
        }
      }
    }
  }
}
